.inputwrapper_main {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}
.inputwrapper {
  display: flex;
  align-items: center;
}
.input {
  height: 40px;
  border: 0;
  border-radius: 40px;
  width: 300px;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding-left: 15px;
  font-family: "Poppins";
}
.searchIcon {
  height: 30px;
  width: 30px;
  margin-left: 10px;
}
.create_butn {
  background: linear-gradient(90deg, #00a7e2, #cd3fcb);
  font-family: "Poppins";
  font-weight: bold;
  font-size: 12px;
  color: white;
  border: 0px;
  border-radius: 20px;
  padding: 0px, 0px, 0px, 0px;
  padding-inline: 20px;
}
.txt1 {
  font-family: "Poppins";
  margin-left: 10px;
  color: cornflowerblue;
  margin-top: 40px;
}
